.hg-theme-default {
  background: var(--bg-main);
  box-shadow: inset 0px 0.5px 1px var(--bg-border), 0px 0px 1px #000000;
  border: 0.5px solid var(--bg-border);

  border-radius: 8px;

  box-sizing: border-box;
  font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue,
    Helvetica, Arial, Lucida Grande, sans-serif;
  overflow: hidden;

  padding: 5px;

  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 100%;
}

.hg-theme-default .hg-button span {
  pointer-events: none;
  color: var(--text-color);
  font-family: 'Orbitron', sans-serif;
}
.hg-theme-default button.hg-button {
  border-width: 0;
  font-size: inherit;
  outline: 0;
}
.hg-theme-default .hg-button {
  /* display: inline-block; */
  flex-grow: 1;
}
.hg-theme-default .hg-row {
  display: flex;
}
.hg-theme-default .hg-row:not(:last-child) {
  margin-bottom: 5px;
}
.hg-theme-default .hg-row .hg-button-container,
.hg-theme-default .hg-row .hg-button:not(:last-child) {
  margin-right: 5px;
}
.hg-theme-default .hg-row > div:last-child {
  margin-right: 0;
}
.hg-theme-default .hg-row .hg-button-container {
  display: flex;
}
.hg-theme-default .hg-button {
  -webkit-tap-highlight-color: var(--button-highlight);
  align-items: center;
  background: var(--bg-button);

  border-style: solid;
  border-width: 0.5px;
  border-color: var(--bg-border);
  border-radius: 37px;
  background-image: var(--button-gradient);
  opacity: 1;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 14%);
  box-shadow: 0 0 2px rgba(0, 0, 0, 100%);

  border-radius: 5px;

  cursor: pointer;
  display: flex;
  height: 40px;

  justify-content: center;
}

.hg-theme-default .hg-button.hg-standardBtn {
  width: 20px;
}
.hg-theme-default .hg-button.hg-activeButton {
  background: var(--button-active);
}
.hg-theme-default.hg-layout-numeric .hg-button {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: center;
  width: 33.3%;
}
.hg-theme-default .hg-button.hg-button-numpadadd,
.hg-theme-default .hg-button.hg-button-numpadenter {
  height: 85px;
}
.hg-theme-default .hg-button.hg-button-numpad0 {
  width: 105px;
}
.hg-theme-default .hg-button.hg-button-com {
  max-width: 85px;
}
.hg-theme-default .hg-button.hg-standardBtn.hg-button-at {
  max-width: 45px;
}
.hg-theme-default .hg-button.hg-selectedButton {
  background: var(--button-selected);
  color: var(--text-color);
}
.hg-theme-default .hg-button.hg-standardBtn[data-skbtn='.com'] {
  max-width: 82px;
}
.hg-theme-default .hg-button.hg-standardBtn[data-skbtn='@'] {
  max-width: 60px;
}
.hg-candidate-box {
  background: #ececec;
  border-bottom: 2px solid #b5b5b5;
  border-radius: 5px;
  display: inline-flex;
  margin-top: -10px;
  max-width: 272px;
  position: absolute;
  transform: translateY(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
ul.hg-candidate-box-list {
  display: flex;
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}
li.hg-candidate-box-list-item {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}
li.hg-candidate-box-list-item:hover {
  background: var(--bg-border);
  cursor: pointer;
}
li.hg-candidate-box-list-item:active {
  background: rgba(0, 0, 0, 0.1);
}
.hg-candidate-box-prev:before {
  content: '◄';
}
.hg-candidate-box-next:before {
  content: '►';
}
.hg-candidate-box-next,
.hg-candidate-box-prev {
  align-items: center;
  background: #d0d0d0;
  color: #969696;
  cursor: pointer;
  display: flex;
  padding: 0 10px;
}
.hg-candidate-box-next {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.hg-candidate-box-prev {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.hg-candidate-box-btn-active {
  color: #444;
}

.simple-keyboard.hg-layout-default .hg-button.hg-red {
  background: rgb(255, 0, 0, 0.7);
  color: white;
}
